{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Ajout d'une nouvelle option</h1>
        {{ include ("admin/option/form.html.twig", {fom: form,button: 'Créer'}) }}
    </div>
{% endblock %}